<%- include("partials/header") %> 


<h1>This is the homepage</h1>

<a href="/campsites">View campgrounds</a>

<p>Ok I get that it aint much, but its honest work that I did by copying from a site</p>

<%- include("partials/footer")%>